body {
    font-family: 'Baloo 2', cursive;
    font-weight: 200;
    color: #FFF;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    
}

main {
    text-align: center;    
    background-image: url('../../images/bg-baby.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    padding-top: 100px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.title {
    font-family: 'Pacifico', cursive;
    color: #A0D5CD;
    font-size: 38px;
    text-shadow: 3px 2px 7px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

.text strong {
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form select {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    color: #1D1D1D;
    outline: none;
}

.form select > option {
    color: #1D1D1D;
}

.form button {
    color:#FFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #C272A8;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.terms {
    font-size: 11px;
    margin-top: 30px;
    line-height: 16px;
}

.terms span {
    text-transform: uppercase;
}

.terms a {
    color: #FFF;
}

#emailError {
    display: none;
    font-size: 0.8em;
  }
  
#emailError.visible {
    display: block;
    margin-bottom: 5px;
}

#selectError {
    display: none;
    font-size: 0.8em;
  }
  
#selectError.visible {
    display: block;
    margin-bottom: 5px;
}

input.invalid {
border: 0.5px solid red;
}

select.invalid {
    border: 0.5px solid red;
    }

@media (min-width: 680px) {
    main {
        background-image: url('../../images/bg-baby.jpeg');
        background-size: cover;  
    }

    .wrapper {
        background: transparent;
    }
}